.heading-header {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2rem; /* Adjust this value as needed */
}

.heading-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(3px);
}

.content-wrapper {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent white overlay */
}

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../assets/food/food1.png');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
}

.call-to-action {
    position: relative;
    z-index: 1;
}

.hero-text h1 {
    margin-bottom: 1rem; /* Adds space below the h1 */
}

.hero-text p {
    margin-top: 1rem; /* Adds space above the p */
}

.subsection {
    text-align: justify;
    max-width: 80%; /* Adjust this value as needed */
    
    
}
